.favorites-recipe-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
    margin-top: 50px;
  
}

.favorites-recipe-grid{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 50px;
    
}


.favorites-recipe-container h1{
    color:  #FFBF00;
}

.favorites-recipe-container h2{
    color:  #FFBF00;
}

