.input-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.form-group{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 800px;
}

.input-dish{
    max-width: 600px;
    font-size: 1.3rem;
    padding: 15px 25px;
    border-radius: 10px;
    border: 2px solid #FFBF00;
    color: #FFBF00;
    background: white;
    transition: all 0.3s ease;
}

input{
    outline: none;
}

.search-dish-btn{
    padding: 15px 25px;
    font-size: 1.1rem;
    background-color: #FFBF00;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.search-dish-btn:hover{
    background-color: #e6ac00;
}

.search-dish-btn:active{
    background-color: #cc9900;
}



@media (max-width: 637px) {
    .input-dish {
        font-size: 0.8rem;
         padding: 10px 15px;
    }

    .input-container{
        margin-bottom: 0px;
    }

    .search-dish-btn {
        padding: 10px 20px;
        font-size: 1rem;
    }
}