.input-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.form-group{
    display: flex;
    gap: 20px;
}

.input-dish{
    width: 300px;
    font-size: 1.3rem;
    padding: 10px 25px 10px 25px;
    border-radius: 10px;
    border: 2px solid orange;
    color: orange;
}
input{
    outline: none;
}
input:focus{
    border: 2px solid orange;
}

.search-dish-btn{
    font-size: 1.2rem;
    padding: 10px 25px 10px 25px;
    border-radius: 10px;
    background-color: orange;
    color: white;
    border: none;
    cursor: pointer;
}
.search-dish-btn:hover{
    background-color: hsl(39, 100%, 60%);
}
.search-dish-btn:active{
    background-color: hsl(39, 100%, 50%);
}

.test{
    font-size: 5rem;
}