.no-recipe-found-container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.no-recipe-found-img-container{
    width: 25%;
    height: 25%;
}

.no-recipe-found-img-container img{
    width: 100%;
    height: 100%;
    filter: brightness(0) saturate(100%) invert(64%) sepia(98%) saturate(1354%) hue-rotate(8deg) brightness(104%) contrast(101%);
}

.no-recipe-found-container p{
    font-size: 3rem;
    color:#FFBF00 ;
    font-weight: 500;
   
}


