.random-recipes-container{

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "Fredoka", sans-serif;
    font-weight: 500;


}

.random-recipe-container{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 50px;
    
}
.random-recipes-title-container{
    width: 80%;
    margin-top: 70px;

}

.random-recipes-title-container p{
    font-size: 3rem;
    color: #FFBF00;
}