.random-recipes-container{

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "Fredoka", sans-serif;
    font-weight: 500;


}

.random-recipe-container{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 50px;
    
}
.random-recipes-title-container{
    width: 80%;
    margin-top: 70px;

}

.random-recipes-title-container p{
    font-size: 3rem;
    color: #FFBF00;
}

@media (max-width: 1024) {
     .random-recipe-container {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media (max-width: 768px){

    .random-recipe-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .random-recipes-title-container p{
    font-size: 1.5rem;
   
}
}