
.recipe-by-category-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.recipe-by-category-title{
    margin-top: 30px;
}

.recipe-by-category-grid{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 50px;
}

@media (max-width: 1024px) {
    .recipe-by-category-grid {
      grid-template-columns: repeat(3, 1fr);
    }
    .recipe-by-category-title p{
        font-size: 2rem;
    }
}

@media (max-width: 768px) {
    .recipe-by-category-grid {
     grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}