@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Fredoka:wght@300..700&family=Mystery+Quest&family=Quicksand:wght@300..700&display=swap');
.search-result-main-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
    
  
}

.recipes-container{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 50px;
    
}