@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Fredoka:wght@300..700&family=Mystery+Quest&family=Quicksand:wght@300..700&display=swap');
body{
    background-color: #fafafa;
    margin: 0;
    padding: 0;
}

.app-container{
    font-family: "Fredoka";
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}